.login-form {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;

    img {
        margin-top: 5rem;
        width: 50%;
    }

    form {
        width: 100%;
    }
}